body {
    background-color: black;
    color: whitesmoke;
}
.jumbotron {
    margin-top: 20px;
    background-color:orange;
    background-image: url("/assets/img/burger.png");
    border-radius: 5px;
    box-shadow: 0 0 10px 3px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    background-color: transparent;
}
button {
    background-color: black;
    color: whitesmoke;
}
button:hover {
    background-color:#494040;
}

 